 <h1>Welcome to Angular</h1>
<hr />
<!-- <my-component></my-component>
<hr />
<app-course></app-course> 
<h1>Welcome to Books Store</h1>
<hr />
<app-book></app-book> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding>
<app-event-binding></app-event-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-pipes-component></app-pipes-component> -->
<!-- <favourite-component></favourite-component> -->
<!-- <app-tweet></app-tweet> -->
<!-- <boostrap-panel>
    <div class = "heading">Heading from outside</div>
    <div class = "body">
        <h2>
            Body
        </h2>
        Body from Some where</div>
</boostrap-panel>
<br /> -->
<!-- <boostrap-panel>
    <div ng-container class="heading">Heading from outside</div>
    <div class="body">
        <h2>
            Body
        </h2>
        <img src="https://piofx.s3.ap-south-1.amazonaws.com/images/post_1638941377_80_1612521039_dxc.png"
        alt=""/>
        <p>Some cotent will go here</p>
    </div>
</boostrap-panel> -->
<!-- <boostrap-panel>
    <ng-container class="heading">Heading from outside</ng-container>
    <div class="body">
        <h2>
            Body
        </h2>
        <img src="https://piofx.s3.ap-south-1.amazonaws.com/images/post_1638941377_80_1612521039_dxc.png" alt="" />
        <p>Some cotent will go here</p>
    </div>
</boostrap-panel> -->
<!-- <instagram></instagram> -->

<!-- <boostrap-panel>                   /// Exercise 
    <ng-container class="heading"> /// Exercise
        <h2>Instagram</h2> /// Exercise
    </ng-container> /// Exercise
    <div class="body"> /// Exercise
        <instagram></instagram> /// Exercise
    </div> /// Exercise
</boostrap-panel> --> 

<!-- <app-directive-if></app-directive-if> -->
<!-- <app-directive-switchc></app-directive-switchc> -->
<!-- <app-directive-for></app-directive-for> -->
<!-- <app-directive-for-change></app-directive-for-change>
<app-ng-style></app-ng-style> -->
<!-- <app-input-component></app-input-component> -->
<!-- <app-student></app-student> -->

<!-- <app-posts></app-posts> -->

<!-- <app-github-followers></app-github-followers> -->

<!-- <app-observable-pipe></app-observable-pipe> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>