<div style="margin-left:20px; width:200px;height:200px; background-color: #eee"
    (click)="onDivClicked">
    <div
    (click)="onInternalDivClicked()"
    style="margin-left:20px;
    background-color: greenyellow;"
    ></div>
    <h4>Event Binding Example</h4>
    <!-- <button class="btn btn-info"
    (click)="onSave()"> -->
<button class="btn btn-info" (click)="onSave($event)">
    Save</button>
</div>

<div style="margin-bottom:30px;margin-left:20px">
   <input type="text" (keyup.enter)="onKeyUp()"/>
</div>
<div style="margin-bottom:30px;margin-left:20px">
    <label for ="">Email : </label>
    <input type="text" #email (keyup.enter)="onKeyUpEvent2(email.value)" />
</div>
